@model PizzaStore.Client.Models.StoreViewModel

<form action="/store" method="get">
<h1>PizzaWorld Store Reports<br/><small>Sales History for the Current Month</small></h1>
		<hr>
		
		<table class="table table-bordered table-responsive table-hover">
			<thead>
				<tr align="center">
					<td><b>Pizza Type</b></td>
					<td><b>Size</b></td>
					<td><b>Crust</b></td>
          <td><b>Toppings</b></td>
					<td><b>Price</b></td>
				</tr>
			</thead><br/>
			<tbody>
        @for (int i=0; i < @Model.Pizzas.Count() ; i++)
        {
          <tr>
					<td value="@Model.Pizzas[i].Name">@Model.Pizzas[i].Name</td>
          <td value="@Model.Pizzas[i].Size.Name">@Model.Pizzas[i].Size.Name</td>
          <td value="@Model.Pizzas[i].Crust.Name">@Model.Pizzas[i].Crust.Name</td>
          <td value="@Model.Toppings[i]">@Model.Toppings[i]</td>
					<td value="@Model.Pizzas[i].Price" align="right">@Model.Pizzas[i].Price</td>
					</tr>
        }
			</tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><b>Total Qty. = @Model.Qty</b></td>
          <td><b>Total Qty. = $@Model.Price</b></td>
        </tr>
      </tfoot>
		</table>
  <br/>
  <button type="submit">< Back</button>
  <br />
</form>

