@model PizzaStore.Client.Models.PizzaViewModel

<form action="/order" method="post">
<h2>Choose the type of Pizza:</h2>
  <select name="type" id="type">
    @foreach (var type in @Model.Types)
    {
      <option value=@type>@type</option>
    }
  </select><br /><br />
<h2>Choose your crust:</h2>
  @foreach (var crust in @Model.Crusts)
  {
    <input type="radio" name="crust" id="crust" value="@crust.Name" data-val="true" data-val-required="Needed">
    <label for="crust">@crust.Name</label>
  }
<br />
@Html.ValidationMessageFor(m => m.Crust, null, new { @class = "text-danger" })
<br />
<h2>Choose your size:</h2>
  @foreach (var size in @Model.Sizes)
   {
    <input type="radio" name="size" id="size" value="@size.Name" data-val="true" data-val-required="Needed">
    <label for="size">@size.Name</label>
  }
<br />
@Html.ValidationMessageFor(m => m.Size, null, new { @class = "text-danger" })
<br />
  <button type="submit">Add to Cart</button>
  <br />
</form>

