@model PizzaStore.Client.Models.MovieViewIntModel

<form action="/movie" method="get">
<h1>RevFlix: Movie Search by Title Results<br/></h1>
		<hr>
				<table class="table table-bordered table-responsive table-hover">
			<thead>
				<tr align="center">
					<td><b>Title</b></td>
					<td><b>Year Released</b></td>
					<td><b>IMDB ID</b></td>
  			</tr>
			</thead><br/>
			<tbody>
        @foreach (var movie in @Model.MovieResults)
        {
          <tr>
					<td value="@movie.Title">@movie.Title</td>
          <td align="center" value="@movie.Year">@movie.Year</td>
          <td align="center" value="@movie.Imdb_id">@movie.Imdb_id</td>
					</tr>
        }
			</tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td><b>No. of Results = @Model.Results</b></td>
        </tr>
      </tfoot>
		</table>
  <br/>
  <button type="submit">< Back</button>
  <br />
</form>

